

.app{
    width: 60%;
    margin: 0 auto;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width:992px){
    .app{
        width: 90%;
    }
}
@media screen and (max-width: 767px){
    .app {
        width: 95%;
    }
}